**Aman Umrethe**

CSE [AIML]

4th sem 2nd year

In [10]:
import numpy as np
import pandas as pd

In [11]:
lst = [1,2,3,4,5,6,7,8,9]
#finding time taken
%timeit [i**2 for i in lst]

2.67 µs ± 62.8 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [12]:
#converting "lst" to numpy array
lst2 = np.array(lst)
#printing np array
print(lst2)

[1 2 3 4 5 6 7 8 9]

In [13]:
%timeit [i**2 for i in lst2]

3.16 µs ± 82.8 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [14]:
%timeit lst2**2

684 ns ± 239 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [15]:
#creating a random array of 5x6 containing int from 10 to 100
arr = np.random.randint(10,100, size=(5,6))
#printing random array
arr

array([[27, 64, 73, 78, 22, 74],
       [39, 91, 51, 33, 79, 55],
       [45, 31, 28, 26, 19, 65],
       [99, 34, 44, 70, 97, 69],
       [94, 76, 15, 10, 57, 45]])

In [16]:
#initializing data frame
df = pd.DataFrame(arr)
#print Dataframe
df

    0   1   2   3   4   5
0  27  64  73  78  22  74
1  39  91  51  33  79  55
2  45  31  28  26  19  65
3  99  34  44  70  97  69
4  94  76  15  10  57  45